main[class~="about"] {
    display: grid;
    grid-area: header-start / header-start / footer-start / footer-end;
    grid-template-areas: "hero"
                         "article"
                         "form";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-gap: 2rem 0;
}
main > img {
    width: 100%;
    height: auto;
    grid-area: hero;
}
article.more-details {
    padding: 2rem 6.67%;
    grid-area: article;
}
article.more-details  > h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 8rem 0;
} 
article.more-details p {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}
form {
    padding: 2rem 6.67%;
    grid-area:form;
}
/*main[class~="about"] > img.hero {
    filter: saturate(0%);
} */
