main.contact {
    margin-top: 40.6vw;
}
main article {
    padding: 4rem 6.67%;
    margin-top: 9.125rem;
    /* margin-top: 40.6vw; */
}
main article.introduction {
    display: none;
    /* margin-top: 40.6vw; */
}
main article > p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.75rem;
    max-width: 45ch;
}
section.contact {
    padding: 2rem 6.67%;
}
section.contacts div:first-child {
    margin-bottom: 1rem;
}
section.contact div.container {
    grid-area: contact;
    display: grid;
    grid-template-areas: "contact"
                         "form";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-row-gap: 8rem;

}
section.contact p:nth-child(2), section.contact p:nth-child(4) {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
section.contact a:link {
    text-decoration: none;
    color: var(--dim);
}
section.contact a:hover {
    color: white;
}
.status-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.status-button  p.status,
section.contact p.status {
    font-family: var(--mono);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-left: 2rem;
}
.select > p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

.select-input > div:last-child {
    height: 0.25rem;
    background-color: white;
    /* transition: ease-in 300ms all; */
}
.select-input > div.focus {
    background-color: var(--accent);
    /* transition: ease-in 300ms all; */
} 
.select-input > div.warn {
    background-color: var(--warn);
}
p.mono {
    font-family: var(--mono);
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--accent);
    /* color: var(--dim); */
    margin-bottom: 0.25rem;
}
div.select {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
}
div.select p {
    width: max-content;
    cursor: pointer;
    margin-bottom: 0;
}
div.select svg {
    margin-right: 2rem;
    margin-left: auto;
    cursor: pointer;
    transition: ease-in 300ms 0s all;
}
.up {
    transform: rotateZ(180deg);
}
ul.options {
    padding: 0;
}
.select-input ul.options {
    height: 0px;
    overflow-y: hidden;
    transition: ease-in 300ms all;
}
.select-input ul.open {
    height: 10rem;
}
.select-input .options li {
    font-family: var(--mono);
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
    list-style-type: none;
}
.select-input .options p:last-child {
    margin-bottom: 2rem;
}
section.select-input {
    margin-bottom: 4rem;
    max-width: 480px;
}
/*styling form text inputs*/
.input-container {
    display: grid;
    grid-template-areas: "label";
    grid-template-columns: 100%;
    grid-template-rows: 5.25rem;
    background-color: transparent;
    margin-bottom: 0.5rem; 
    max-width: 480px;  
}
.input-container > .line:first-child,
.textarea-container > .line:first-child {
    grid-area: label;
    margin-bottom: auto;
    margin-top: 0;
    background-color: transparent;
    height: 0.125rem;
    max-width: 480px;
}
.input-container > .line:last-child,
.textarea-container > .line:last-child {
    grid-area: label;
    margin-bottom: 0;
    margin-top: auto;
    height: 0.125rem;
    background-color: white;
    max-width: 480px;
}
input[type="text"], input[type="email"], textarea {
    grid-area: label;
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--default);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: auto;
    padding: 0;
    height: 1.5rem;
    outline: none;
    max-width: 480px;
}

/*styling textarea input*/
.textarea-container {
    display: grid;
    grid-template-areas: "label";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    background-color: transparent;
    grid-template-rows: minmax(9.25rem, max-content);
    margin-bottom: 2rem;
    max-width: 480px;
}
textarea {
    margin-top: 2.5rem;
    margin-bottom: auto;
    max-width: 480px;
    /* min-width: 100%; */
    min-height: 5.5rem;
    max-height: 16rem;
    padding: 0; 
    resize: none;
}
textarea::-webkit-scrollbar {
    background-color: transparent;
}
textarea::-webkit-scrollbar-thumb{
    background-color: var(--accent);
    width: 8px;
    height: 16px;
}
label {
    grid-area: label;
    margin-top: 2.5rem;
    margin-bottom: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: text;
    transition: ease-in 200ms all;
}
input:focus ~  label,
textarea:focus ~  label, 
input:valid ~  label,
textarea:valid ~  label, label.float {
    margin-top: 1.25rem;
    margin-bottom: auto;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--dim);
}
input:focus ~ .line:last-child,
textarea:focus ~ .line:last-child,  
input:valid ~ .line:last-child,
textarea:valid ~ .line:last-child,
.line:last-child.focus{
    background-color: var(--accent);
}
.input-container > .line:last-child.warn,
.textarea-container > .line:last-child.warn {
    background-color: var(--warn);
}
.text-inputs span.error-message {
    font-family: var(--mono);
    display: block;
    font-size: 0.75rem;
    grid-area: label;
    margin-top: auto;
    margin-bottom: 0.25rem;
    line-height: 1rem;
    color: var(--accent);
}
/*map*/
section.map p.address {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--mono);
}
section.map p:nth-child(2) {
    margin-bottom: 1rem;
}
section.map  {
    display: none;
}
section.map div.address {
    margin-bottom: 4rem;
}
main.contact {
    margin-bottom: 0;
    grid-area: main;
    display: grid;
    grid-template-areas: "contact";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    /* margin-left: 6.67%;
    margin-right: 6.67%; */
}
section.map iframe {
    width: 100%;
    display: none;
    
}
@media screen and (min-width: 750px) {
    main article {
        padding: 4rem 0;
    }
    main.contact {
        padding: 0;
        margin-left: 6.67%;
        margin-right: 6.67%;
        margin-top: unset;
    }
    section.contact {
        padding: 2rem 0;
        margin-top: 4rem;
    }
    main.contact section.contact {
        padding: 2rem 0;
        margin-top: 12rem;
        width: max-content;
    }
    section.contact div.container {
        grid-area: contact;
        display: grid;
        grid-template-areas: "contacts"
                              "form";
        grid-template-columns: 480px;
        grid-template-rows: max-content;
        grid-row-gap: 6rem;
        column-gap: 6.52%;
    
    }
    section.map {
        grid-area: map;
        display: none;
    }
    section.contacts {
        grid-area: contacts;
        /* margin-left: auto */
    }
    .contact-form {
        grid-area: form;
    }
    main article > p {
        font-size: 2rem;
        line-height: 3rem;
        max-width: 25ch;
    }
}
@media screen and (min-width: 1200px) {
    section.contact div.container {
        grid-area: contact;
        display: grid;
        grid-template-areas: "form contacts";
        grid-template-columns: 480px 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 6rem;
        column-gap: 6.52%;
        width: max-content;
    
    }
    main.contact {
        padding: 0;
        /* margin-left: 0; */
        margin-right: auto;
    }
}
