/*main styling*/
main[class="hero"] {
    grid-area: header-start / header-start / footer-start / header-end;
    display: grid;
    grid-template-areas: "intro"
                        "services"
                        "projects"
                        "contact";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
}
/*styling the bottom margin of main frames*/
.intro, .services, .projects, .contact, article[class~="frame"] {
    margin-bottom: var(--xl);
}
section.intro{
    grid-area: intro;
    display: grid;
    grid-template-areas: "hero"
                         "foreword";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
}
img.hero{
    grid-area: hero;
    width: 100%;
    height: auto;
}
/*styling the inner padding of main frames, i use the padding to determine the page margins*/
section.foreword, section.services,footer, section.projects, section.contact, .frame {
    padding: 2rem 6.67%;
}
section.foreword {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
section.foreword > p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin-bottom: var(--l);
}
section.foreword > div {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
section.foreword > div p {
    line-height: 1.5rem;
}
section.foreword a {
    text-decoration: none;
    color: var(--lesswhite);
    font-size: var(--caption);
    line-height: 1.5rem;
    padding-right: var(--xxs);
    transition: ease-in 300ms all;
}
section.foreword a:hover {
    padding-right: var(--m);
    color: var(--white);
}
/*Services section*/
section h2 {
    margin-bottom: var(--xxl);
}
section.services div {
    margin-bottom: var(--l);
}
.servlist p {
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
section.services{
    grid-area: services;

}
section.services li {
    list-style-type: none;
    color: var(--lesswhite);
    height: 1.5rem;
    margin-bottom: var(--xxs);
}
section.services ul {
    padding-left: 0;
    margin: 0;
}
section.foreword {
    grid-area: foreword;
}
section.projects{
    grid-area: projects;
    padding-right: 0;
    padding-left: 0; 
}
section.projects h2 {
    margin-left: 6.67%;
    margin-right: 6.67%;
}
.showcase {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-areas: "one two three";
    grid-template-rows: max-content;
    overflow-x: auto;
    margin-bottom: 1rem;
    grid-column-gap: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 6.67%;
    padding-right: 6.67%;
    /*background-color: white;*/
}
.showcase button {
    /* margin: 4rem 4rem; */
    /* margin-left: 2rem; */
    border-radius: 50%;
    padding: 0.75rem;
    display: grid;
    place-items: center;
}
.showcase div {
    display: grid;
    justify-items: center;
    width: 10rem;
    height: 13.8125rem;
    padding-right: 2rem;
}
.showcase div a {
    height: max-content;
    margin-top: 4rem;
}
.showcase div > p {
    font-size: 1rem;
    /* margin-top: 1rem; */
    margin-bottom: 1.375rem;
    line-height: 1.5rem;
}
/* .showcase button::after {
    content: "Full Portfolio";
    position: absolute;
    display: block;
    color: white;
    z-index: 100;
    font-size: 1rem;
    font-weight: 700;
    transform: translateY(3rem);
} */
.showcase figcaption p:first-child{
    font-weight: 600;
    margin-bottom: 0;
}
.showcase figcaption p:last-child{
    color: var(--lesswhite);
}
.showcase figcaption {
    padding: 1rem 0;
}
figure.cards {
    margin:0;
}
figure.cards:last-child {
    padding-right: 6.67vw;
    grid-area: three;
}
figure.cards:nth-child(1){
    grid-area: one;
}
figure.cards:nth-child(2){
    grid-area: two;
}
.showcase figure > img:hover {
    cursor: pointer;
}
.showcase::-webkit-scrollbar {
    width: 0rem;
    display: hidden;
}
.showcase::scroll-thumb {
    background-color: black;
}
section.cta-button {
    padding: var(--l) 0;
    padding-right: 6.67%;
    padding-left: 6.67%;
}
section.cta-button h3 {
    margin-bottom: var(--l);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
}
section.cta-button {
    display: grid;
}
/*section.cta-button button {
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.5rem 2.5rem;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    outline: none;
}*/
