/*main styling*/
main[class="hero"] {
    grid-area: header-start / header-start / footer-start / header-end;
    display: grid;
    grid-template-areas: "intro"
                        "services"
                        "projects"
                        "contact";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
}
/*styling the bottom margin of main frames*/
.intro, .services, .projects, .contact, article[class~="frame"] {
    margin-bottom: var(--xl);
}

section.email,
header .social-icons {
    display: none;
}
section.intro{
    grid-area: intro;
    display: grid;
    grid-template-areas: "hero"
                         "foreword";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
}
img.hero{
    grid-area: hero;
    width: 100%;
    height: auto;
}
/*styling the inner padding of main frames, i use the padding to determine the page margins*/
section.foreword, section.services,footer, section.projects, section.contact, .frame {
    padding: 2rem 6.67%;
}
section.foreword {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 6.67%;
}
section.foreword > p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;
    margin-bottom: var(--l);
    max-width: 30ch;
}
section.foreword a.about:link,
section.foreword a.about:visited {
    text-decoration: none;
    color: inherit;
}
section.foreword a.about:hover {
    text-decoration: underline;
}
section.foreword > div:first-child {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}
section.foreword > div p {
    line-height: 1.5rem;
    width: max-content;
}
section.foreword > button {
    display: unset ;
}
div.cta a:link,
div.cta a:visited {
    text-decoration: none;
    color: var(--accent);
    font-size: var(--caption);
    line-height: 1.5rem;
    padding-right: var(--xxs);
    transition: ease-in 100ms all;
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
div.cta a:active {
    color: white; 
}
div.cta div.line {
  height: 1px;
  background-color: white;
  width: 1rem;
  display: none;
}
div.cta svg {
    display: none;
}
div.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    */display: none;*/
}
div.cta a:hover {
    padding-right: var(--m);
    color: var(--accent);
}
/*Services section*/
section h2 {
    margin-bottom: var(--xxl);
}
section.services div.service {
    /* margin-bottom: var(--l); */
    /* margin-right: 6rem; */
    width: max-content;
    grid-row: auto;
}
section.services h2 {
    color: inherit;
}
/* div.servlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
div.servlist {
    display: grid;
    /* max-width: 100vw; */
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, 13.4rem);
    grid-template-rows: max-content;
    grid-gap: 2rem 6rem;
}
.servlist p {
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    color: white;
}
.servlist p::before {
    content: "";
    display: block;
    height: 2px;
    width: 2rem;
    background-color: var(--accent);
    margin-bottom: 0.25rem;
    /* display: none; */
}
section.services{
    grid-area: services;
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 4rem;

}
section.services li {
    list-style-type: none;
    color: white;
    /* color: var(--lesswhite); */
    height: 1.5rem;
    margin-bottom: var(--xxs);
}
section.services ul {
    padding-left: 0;
    margin: 0;
}
section.foreword {
    grid-area: foreword;
}
section.projects{
    grid-area: projects;
    padding-right: 0;
    padding-left: 0; 
}
section.projects h2 {
    margin-left: 6.67%;
    margin-right: 6.67%;
    color: white;
}
.showcase {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-areas: "one two three four";
    grid-template-rows: max-content;
    overflow-x: auto;
    margin-bottom: 1rem;
    /* grid-column-gap: 2rem; */
    grid-column-gap: 8.89vw;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 6.67%;
    padding-right: 6.67%;
    /*background-color: white;*/
}
.showcase img {
    width: 61.4vw;
    height: auto;
}
.showcase button {
    /* margin: 4rem 4rem; */
    /* margin-left: 2rem; */
    border-radius: 50%;
    padding: 0.75rem;
    display: grid;
    place-items: center;
}
.showcase div.container {
    display: grid;
    place-items: center;
    /* margin: auto 44.4vw auto 44.4vw; */
    width: 44.4vw;
    /* height: 61.4vw; */
    /* width: 10rem; */
    height: min-content;
    /* height: 13.8125rem; */
    padding-right: 8.89vw;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}
.showcase div.inner {
    display: grid;
    justify-items: center;
    /* margin: auto 44.4vw auto 44.4vw; */
    /* width: 44.4vw; */
    width: min-content;
    /* height: 61.4vw; */
    /* width: 10rem; */
    height: min-content;
    /* height: 13.8125rem; */
    /* padding-right: 2rem; */
    margin-top: 17.8vw;
    /* margin-bottom: auto; */
}
.showcase div a {
    height: max-content;
    /* margin-top: 4rem; */
}
.showcase div > p {
    font-size: 1rem;
    /* margin-top: 1rem; */
    margin-top: 1.375rem;
    line-height: 1.5rem;
}
/* .showcase button::after {
    content: "Full Portfolio";
    position: absolute;
    display: block;
    color: white;
    z-index: 100;
    font-size: 1rem;
    font-weight: 700;
    transform: translateY(3rem);
} */
.showcase figcaption p:first-child{
    font-weight: 600;
    margin-bottom: 0;
}
.showcase figcaption p:last-child{
    color: var(--dim);
}
.showcase figcaption {
    padding: 1rem 0;
    /*background-color: #222;
    display: none;*/
}
figure.cards {
    margin:0;
}
figure.cards:last-child {
    padding-right: 6.67vw;
    grid-area: three;
}
figure.cards:nth-child(1){
    grid-area: one;
}
figure.cards:nth-child(2){
    grid-area: two;
}
.showcase figure > img:hover {
    cursor: pointer;
}
.showcase::-webkit-scrollbar {
    width: 0rem;
    display: hidden;
}
.showcase::scroll-thumb {
    background-color: black;
}
section.cta-button {
    padding: var(--l) 0;
    padding-right: 6.67%;
    padding-left: 6.67%;
}
section.foreword a.button {
    display: none;
}
section.cta-button h3 {
    margin-bottom: var(--l);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
}
section.cta-button {
    display: grid;
}
section.bottom-snap {
    display: hidden;
}
/*section.cta-button button {
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.5rem 2.5rem;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    outline: none;
}*/
@media screen and (min-width: 750px) {
    main[class="hero"] {
        grid-area: main;
        display: grid;
        grid-template-areas: "intro"
                            "services"
                            "projects"
                            "contact";
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        /* margin-top: -2rem; */
    }
    img.hero {
        grid-area: hero;
        display: unset;
        /* position: absolute; */
        width: 35.1vw;
        /* width: 30rem; */
        /* width: auto; */
        height: auto;
        /* z-index: 200; */
        /* top: 0;
        right: 0; */
        filter: saturate(0%);
        margin: 0 auto;
        margin-right: 0;
        /* cursor: pointer; */
        transition: linear 0.3s;
    }
    /* img.hero:hover {
        filter:saturate(100%)
    } */
    div.menu-icon {
        display: grid;
        grid-template-areas: "button";
        min-height: 18px;
        min-width: 24px;
        cursor: pointer;
        place-items: center;
        /* justify-self: end;
        align-self: start; */
        top: 2rem;
        right:  4.44%; 
        margin-right: 0;
        /* margin-left: auto;
        margin-right: 4.44%;
        margin-top: 0;
        margin-bottom: auto; */
        z-index: 1500;
        position: fixed;
        /* background-color: blueviolet; */
    }
    section.foreword > div p {
        line-height: 1.5rem;
        display: unset;
    }
   
    section.foreword {
        /* height: 100vh; */
        background-color: unset;
        /* display: grid; */
    } 
    section.foreword > p {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5rem;
        margin-bottom: var(--l);
        margin-top: 16rem;
        max-width: 30ch;
        color: var(--dim);
    }
    section.foreword > p::before {
        content:"UX Designer.";
        position: relative;
        display: block;
        font-weight: 700;
        font-size: 3rem;
        width: max-content;
        margin-bottom: 4rem;
        z-index: 12;
        color: white;
        /* text-decoration: underline; */
    }
    section.foreword div {
        display: visible;
    }
    section.foreword > button {
        display: unset ;
        /* margin: unset; */
    }
    section.projects {
        padding: 2rem 6.67%;
        overflow-x: hidden;
    }
    .showcase {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "one two three";
        grid-template-rows: max-content;
        overflow-x: auto;
        margin-bottom: 1rem;
        /* grid-column-gap: 2rem; */
        grid-column-gap: 5.47%;
        /* grid-column-gap: 4rem; */
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        /*background-color: white;*/
    }
    .showcase img {
        width: 100%;
        height: auto;
    }
    .showcase div.container {
        display: none;
        place-items: center;
        width: unset;
        height: min-content;
        padding-right: unset;

       
    }
    section.projects h2 {
        margin-left: unset;
        margin-right: 6.67%;
        color: white;
    }
    section.intro{
        grid-area: intro;
        display: grid;
        grid-template-areas: "whitespace hero";
        grid-template-columns: 1fr max-content;
        grid-template-rows: max-content;
        background-color: black;
        height: 80vh;
    }
    section.foreword {
        grid-area: whitespace;
        /* grid-area: 1 / 1/ -1 / -1; */
        padding-top: unset;
        padding-bottom: unset;
        margin: auto;
        margin-right: auto;
        /* margin-bottom: 15.7vh; */
        margin-bottom: auto;
        margin-left: auto;
        /* margin-left: 18.67vw;; */
        width: max-content;
        /* z-index: 300; */
    }
    section.foreword p {
        margin-top: unset;
        width: 455ch;
    }
    header section.email {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        place-items: center;
        z-index: 400;
        height: 15.1vh;
        width: max-content;
        margin-right: auto;
        margin-left: 4.44vw;
        /* margin-right: 3.67vw; */
        margin-bottom: auto;
        margin-top: 0;
        /* display: none; */
        
    }
    header section.email a:link, 
    header section.email a:visited {
        text-decoration: none;
        color: white;
        
    }
    header section.email a:hover, 
    .bottom-snap a:hover {
        color: var(--dim);
        
    }
    header .social-icons {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0 2rem;
        z-index: 400;
        width: max-content;
        /* margin-right: 4.44vw; */
        margin-left: 6.67vw;
        margin-right: auto;
        margin-top: 2rem;
        display: none;
        
    }
    header .social-icons path {
        fill: white;
    }
    section.intro .social-icons svg {
        margin-top: 0.5rem;
    }
    section.bottom-snap {
        /* position: absolute; */
        display: visible;
        height: 15.1vh;
        width: 30rem;
        background-color: transparent;
        grid-area: 1 / 1 / header-end / header-end;
        margin: auto auto 0 4.44vw;
        display: grid;
        grid-template-columns: max-content 1fr;
        justify-items: center;
        align-items: center;
        
    }
    section.bottom-snap ul {
        display: flex;
        flex-direction: row;
        font-weight: normal;
        font-size: 1rem;
        /* background-color: turquoise; */
        /* height: 100%; */
        width: max-content;
        padding: 0;
    }
    section.bottom-snap ul  li {
        list-style-type: none;
        margin-left: 3rem;
    }
    section.bottom-snap ul a:link,
    section.bottom-snap ul a:visited {
        text-decoration: none;
        color: white;
    }
    section.bottom-snap ul  li::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: orangered;
        transform: scaleX(0) translateY(0.5rem);
        transform-origin: left center;
        transition: linear 0.1s ;
    }
    /* section.bottom-snap ul a:hover  {
        color: var(--dim);
    } */
    section.bottom-snap ul li:hover::after {
        /* background-color: var(--accent); */
        transform: scaleX(1);
    }
    section.bottom-snap ul  li:first-child {
        margin-left: 0;
    }
    .scroll-down {
        animation: scroll 800ms ease-out infinite both;
    }
    @keyframes scroll {
        0% {
            transform: translateY(-1rem);
            opacity: 0;
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(1rem);
        }
    }
    section.contact div.container {
        /* padding: 2rem 6.67%; */
        /* margin-left: 8%; */
        margin-left: 0;
        /* margin-right: 6.67%; */
        /* margin-right: 16%; */
    }
    section.contact {
        margin-right: 6.67%;
        margin-left: 6.67%;
    }
}
@media screen and (min-width: 1200px) {
    section.foreword > p::before {
        font-size: 4rem;
    }
    section.foreword > p {
        max-width: 45ch;
    }
    img.hero {
        width: auto;
        height: 70vh;
        margin-right: 6.67vw;
    }
}
