@font-face {
    font-family: 'basier_square_monoregular';
    src: url('fonts/basiersquaremono-regular-webfont.eot');
    src: url('fonts/basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/basiersquaremono-regular-webfont.woff2') format('woff2'),
         url('fonts/basiersquaremono-regular-webfont.woff') format('woff'),
         url('fonts/basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
:root {
    /*brand colors*/
    --black: #000000;
    --lessblack: ;
    --dim: #808080;
    --white: #fff;
    --lesswhite: #B2B2B2;
    /* --accent: #1334ED; */
    /*--accent: #3900E6;*/
     --accent: #FF5719;
    --darkaccent: orangered;
    /*--darkaccent: #250094;*/
    --warn: orangered;
   /* --purple: #6600FF;*/
    --green: #00F7B5;
    /*Type scales*/
    --body: 1rem;
    --body-l: 1.25rem;
    --caption: 0.875rem;
    --small: 0.75rem;
    --header-sm: 1.5rem;
    --header-l: 2rem;
    --header-xl: 6rem;
    /*spacing*/
    --xxs: 0.125rem;
    --xs: 0.25rem;
    --sm: 0.5rem;
    --m: 1rem;
    --l: 2rem;
    --xl: 4rem;
    --xxl: 6rem;
    --xxxl: 8rem;
    /*end of custom styles*/
    --default: 'Poppins', sans-serif;
    --mono: 'Roboto Mono', monospace;
    --caps: 'Montserrat', sans-serif
    box-sizing: border-box;
    
}
body {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    margin: 0;
    font-family: poppins, sans-serif;
    overflow-y: scroll;
    overflow-x: auto;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
}
p, h1, h2, h3, h4, h5, h6 {margin: 0;
}
.desktop {
    display: none
}
div.wrapper {
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    justify-content: center;
    grid-gap: 2rem 0;
}
/*navigation*/
nav.menu {
    position: fixed;
    grid-area: header-start / header-start / auto / header-end;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 500;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    transition: ease-out 200ms all 0.2s;
    transform-origin: right center;
    place-items: center;
    justify-content: start;
    clip-path: inset(0px 0px 100vh 0px);
    /*clip-path: circle(100px at 100% -20%);*/
}
nav.menu .icons  {
    display: unset;
    margin: auto 4.44% 2rem auto;
    margin-right: 4.44vw;;
    grid-area: 1 / 1 / end / end;
    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 1rem;
    transition: ease-out 0.05s all;
    transform: translateY(1.5rem);
    Opacity: 0;
}
nav.menu .icons svg path {
    fill: var(--dim);
}
nav.menu .icons svg:hover path {
    fill: black;
}
nav[class="menu show"] {/*Introduced a class which is used by js to expand the menu*/
    height: 100%;
    clip-path: inset(0px 0px 0px 0px);
    transition: ease-out 200ms all;
    /*clip-path: circle(600vw at 100% -20%);*/
}
nav[class="menu show"] > rect {/*changing the color of svg*/
    fill: black;
}
nav ul {
    margin-left: 8%;
    grid-area: 1 / 1 / end / end;
    justify-self: start;
    margin-bottom: 25vh;
}
nav .calendly {
    grid-area: 1 / 1 / end / end;
    Margin: auto auto 2rem 8%;
    transition: ease-out 0.05s all;
    transform: translateY(1.5rem);
    Opacity: 0;
}
nav .calendly.open {
    transform: translateY(0);
    transition: ease-out 0.2s all 0.6s;
    Opacity: 1;
}
nav .calendly a:link,
nav .calendly a:visited {
    text-decoration: none;
    /*text-transform: capitalize;*/
    Color: var(--dim);
    font-size: 1rem;
    font-weight: 500;
}
nav ul, nav li {
    padding: 0;
    margin: 0;
}
ul.menu-list li {
    /* font-family: gotham, sans-serif; */
    /* text-transform: uppercase; */
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    margin-bottom: 1.5rem; 
    list-style-type: none;
    transition: linear 0.1s 0.7s;
    color: black;
    width: max-content;
    transform: translateY(1.5rem); 
    opacity: 0;
}
ul.menu-list li:nth-child(1) {
    transition: linear 0.05s;
}
ul.menu-list li:nth-child(2) {
    transition: linear 0.05s;
}
ul.menu-list li:nth-child(3) {
    transition: linear 0.05s;
}
ul.menu-list li:nth-child(4) {
    transition: linear 0.05s;
}
/*not related*/
ul.menu-list li:nth-child(1).open {
    transition: linear 0.2s 0.6s;
}
ul.menu-list li:nth-child(2).open {
    transition: linear 0.2s 0.6s;
}
ul.menu-list li:nth-child(3).open {
    transition: linear 0.2s 0.6s;
}
ul.menu-list li:nth-child(4).open {
    transition: linear 0.2s 0.6s;
}
ul.menu-list li.open {
    transform: translateY(0);
    opacity: 1;
}
nav.menu .icons.open {
    transform: translateY(0);
    transition: ease-out 0.2s all 0.6s;
    Opacity: 1;
}

ul.menu-list  li::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent);
    transform: scaleX(0) translateY(1.5rem);
    transform-origin: left center;
    transition: linear 0.1s ;
}
ul.menu-list li:hover::after {
    transform: scaleX(1);
}
/* ul.menu-list li:active::after {
    transform: scaleX(1);
} */
.menu-list a:link,
.menu-list a:visited {
    text-decoration: none;  
    color: inherit;
}
/* .menu-list a:active {
    color: var(--accent);
} */
/* .menu-list a:hover {
    color: var(--dim);
} */
nav svg[class~="cancel"] {
    margin-top: 5.875rem;
    margin-right: 4.44%;
    margin-left: auto;
    display: none;
}

nav ul.menu-list {
    /* margin-right: 17.78vw; */
    margin-left: 8vw;
    /* margin-top: auto; */
    /* margin-bottom: 10vh; */
}
header {
    position: fixed;
    grid-area: header;
    display: grid;
    width: 100%;
    height: 0;
    z-index: 300;
}
div.logo {
    margin: 2rem 4.44%;
    justify-self: center;
    z-index: 100;
    width: 91.12%;
    height: auto;
    /* position: fixed;; */
    /* transition: ease-in 300ms all; */
}
svg.logo {
    width: 100%;
    height: auto;
}
svg.logo path {
    fill: black;
    transition: ease-in 128ms all;
}
svg.logo.white path {
    fill: white;
}
/*responsive navbar*/
div.menu-icon {
    display: grid;
    grid-template-areas: "button";
    min-height: 18px;
    min-width: 24px;
    cursor: pointer;
    place-items: center;
    /* top: 5.75rem; */
    /* right:  4.44%; */
    margin-left: auto;
    margin-right: 4.44%;
    z-index: 800;
    /* position: fixed; */
    /* background-color: blueviolet; */
}
.stroke {
    height: 2px;
    width: 24px;
    background-color: black;
    transition: ease-in 300ms all;
    grid-area: button;
    align-self: center;
}

.stroke:first-child {
    transform: translateY(-8px);
}
.stroke:last-child {
    transform: translateY(8px);
    width: 18px;
    justify-self: start;
}
/* div.menu-icon:hover .stroke:last-child {
    width: 24px;
} */
.tapped .stroke:nth-child(2) {
    background-color: transparent;

}
.tapped .stroke:first-child {
    transform: rotate(45deg);
    transform-origin: center;
    background-color: black;
}
.tapped .stroke:last-child {
    transform: rotate(-45deg);
    transform-origin: center;
    background-color: black;
    width: 24px;
} 
.stroke.white {/*style to change when scroll top goes past the light background of the hero image*/
    background-color: white;
    transition: ease-in 300ms all;
}

.no-hero svg.logo path {
    fill: white;
    transition: ease-in 300ms all;
}
.no-hero .stroke {
    background-color: white;
    transition: ease-in 300ms all;
}
footer {
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
    color: var(--dim);
    font-size: 0.875rem;
    text-transform: capitalize;
    padding: 2rem 0;
    grid-area: footer;
}
footer .social-icons {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  grid-column-gap: 1rem; 
  align-items: center;
}
footer .social-icons path {
    fill: var(--dim);
}
footer .social-icons a:hover  path {/*social icons do not change color, I have to fix this*/
    fill: white;
}
/*components*/
button, input[type="submit"], a.button {
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.75rem 2.5rem;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 1rem;
    display: grid;
    place-items: center;
    text-decoration: none;
    width: max-content;
}
button.grey , 
input[type="submit"].grey,
a.button.grey,
button.grey:hover,
a.button.grey:hover,
button.grey:active,
a.button.grey:active {
    background-color: grey;
    cursor: unset;
    
}
button:hover,
a.button:hover {
    background-color: var(--darkaccent);
}
button:active,
a.button:active {
    background-color: var(--white);
    color: black;
}
button:active svg > path {
    fill: black;
}
@media screen and (min-width: 750px) {
    div.logo {
        margin: 2rem 4.44%;
        justify-self: start;
        z-index: 300;
        width: 360px;
        /* width: 360px; */
        height: auto;
        /* position: fixed;; */
    }
    header.home {
        position: static;
        grid-area: header;
        display: grid;
        grid-template-areas: unset;
        grid-template-columns: unset;
        grid-template-rows: unset;
        display: grid;
        width: 100%;
        height: 100vh;
        z-index: 300;
        background-color: black;
    }
    div.logo.stick {
        position: fixed;
        top: 2rem;
        left: 4.44%;
        grid-area: 1 / 1 / header-end / header-end;
        margin: 0;
        z-index: 500;
        width: 360px;
        height: auto;
        /* position: fixed;; */
    }
    div.logo.home {
        grid-area: 1 / 1 / header-end / header-end;
        margin: auto 4.44%;
        justify-self: center;
        align-self: center;
        z-index: 500;
        /* width: 91.12%; */
        width: 80%;
        height: auto;
        /* position: fixed;; */
    }
    div.menu-icon {
        display: grid;
        grid-area: header;
        grid-template-areas: "button";
        min-height: 18px;
        min-width: 24px;
        cursor: pointer;
        place-items: center;
        /* justify-self: end;
        align-self: start; */
        top: 2rem;
        right:  4.44%; 
        margin-right: 0;
        /* margin-left: auto;
        margin-right: 4.44%;
        margin-top: 0;
        margin-bottom: auto; */
        /* z-index: 120; */
        position: fixed;
        /* background-color: blueviolet; */
    }
    svg.logo path {
        fill: white;
    }
    .stroke {
        background-color: white;
    } 
    /* nav.menu {
        position: fixed;
        top: 2rem;
        right: 4.44%;
        grid-area: header-start / header-start / auto / header-end;
        height: max-content;
        width: max-content;
        background-color: transparent;
        z-index: 105;
        color: white;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        transition: unset;
        transform-origin: right center;
        place-items: center;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    ul.menu-list li {
        margin-left: 64px;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;
        margin-bottom: 2rem; 
        list-style-type: none;
        color: white;
    }
    .menu-list a:link {
        text-decoration: none;  
        color: white;
    }
    .menu-list a:active {
        color: var(--accent);
    }
    .menu-list a:visited {
        color: white;
    }
    .menu-list a:hover {
        color: var(--dim);
    } */
}
