div.wrapper.no-hero {
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    margin-bottom: 0;
}
header.no-hero {
    grid-area: header;
}
main.portfolio {
    grid-area: main;
    display: grid;
    grid-template-areas: "article" "projects";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-gap: 2rem 0;
}
main.portfolio article {
    padding: 4rem 6.67%;
}
main.portfolio article > p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.75rem;
}
main.portfolio > section.projects {
    display: grid;
    grid-template-areas: "holo" "openup" "francis";
    grid-template-rows:  repeat(3, max-content);
    grid-template-columns: 100%;
    grid-gap: 4rem 0;
    padding: 2rem 6.67%;
}
.projects figure.portfolio:first-child {
    grid-area: holo;
}
.projects figure.portfolio:last-child {
    grid-area: francis;
    padding: 0;
}
.projects figure.portfolio {
    margin: 0;
}
.projects figure.portfolio:nth-child(2) {
    grid-area: openup;
}
.projects figure.portfolio  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.projects figcaption.portfolio {
    padding: 1rem 0;
}
.projects figcaption.portfolio p:first-child {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
.projects figcaption.portfolio p:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
footer.no-hero {
    grid-area: footer;
}